*{
    margin:0;
    padding:0;
}
header{
    background: black;
    border: 2px solid rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
nav ul{
    height:58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 25px;
}
nav ul li a{
    list-style: none;
    color:white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul li a:hover{
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.search{
    /* width: 200px; */
    display: flex;
    align-items: center;
}
.search input{
    width: 30vw;
    height: 30px;
    border-radius: 4px;
    margin:0 18px 0 45px ;
}

.search button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
    background-color: rgb(203, 200, 200);
}
.slider{
    /* margin:auto; */
    margin:12px auto;
    width: 85vw;
    overflow: hidden;
    

}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card-item{
     display:inline-flex;
     justify-content: center;
     flex-direction: column; 
     margin:0 4px;
     border: 2px solid black;
     padding: 13px;
     font-weight: 55px;
}
.card-item:hover{
    font-weight: 500;
    cursor:pointer;

}
.card h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card{
    /* background-color: orange; */
    background-color: white;
    /* border: 3px solid black; */
    max-width: 95vw;
    margin:37px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: scroll;
}
footer{
    height:12vh;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
